<!DOCTYPE html>
<html>
  <head>
    <title>회사 소개</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= companyName %> 회사 소개 웹 페이지 입니다.</h1>
    <p>캘리포니아주 샌프란시스코에 위치한 <%= companyName %> 입니다.</p>
    <p>CEO - <%= ceo %></p>
  </body>
</html>
