<!DOCTYPE html>
<html>
  <head>
    <title>회사 소개</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>연락처</h1>
    <p>전화번호 <%= phone %></p>
    <p>이메일 <%= email %></p>
    <p><%= address %></p>
  </body>
</html>
