<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INSPINIA | Main view</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="wrapper">
      <% include ../common/left.ejs %>
      <div id="page-wrapper" class="gray-bg">
        <% include ../common/header.ejs %>
        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10">
            <h2>신규 게시글 등록</h2>
            <ol class="breadcrumb">
              <li><a href="/">Home</a> ></li>
              <li><a>신규 게시글 작성</a> ></li>
              <li class="active">
                <strong>등록</strong>
              </li>
            </ol>
          </div>
          <div class="col-lg-2"></div>
        </div>

        <form action="/article/create" id="articleForm" method="post">
          <div class="wrapper wrapper-content">
            <div class="ibox-content m-b-sm border-bottom">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">게시판</label>
                    <select
                      name="board_type_code"
                      id="board_type_code"
                      class="form-control"
                    >
                      <option value="0">선택</option>
                      <option value="1">공지게시판</option>
                      <option value="2">기술블로깅</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">게시글 제목</label>
                    <input
                      type="text"
                      name="title"
                      id="title"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">게시글 내용</label>
                    <textarea
                      class="form-control"
                      name="contents"
                      id="contents"
                      rows="10"
                      cols="5"
                    ></textarea>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">게시글유형</label>
                    <select
                      name="article_type_code"
                      id="article_type_code"
                      class="form-control"
                    >
                      <option value="0">선택</option>
                      <option value="1">공지게시판</option>
                      <option value="2">기술블로그</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">게시여부</label>
                    <select
                      name="is_display_code"
                      id="is_display_code"
                      class="form-control"
                    >
                      <option value="9">선택</option>
                      <option value="1">게시함</option>
                      <option value="0">게시안함</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">작성자명</label>
                    <input
                      type="text"
                      name="register"
                      id="register"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">저장</button>
                <a href="/article/list" class="btn btn-info">목록</a>
              </div>
            </div>
          </div>
        </form>

        <% include ../common/footer.ejs %>
      </div>
    </div>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#board_type_code').focus();
        console.log(
          '게시글 등록페이지가 웹브라우저에 모두 렌더링 완료되었습니다'
        );
      });

      $('#articleForm').submit(function () {
        console.log('게시판 유형코드:', $('#board_type_code').val());

        if ($('#board_type_code').val() == '0') {
          alert('게시판 유형을 선택해주세요.');
          $('#board_type_code').focus();
          return false;
        }

        if ($('#title').val() == '') {
          alert('제목을 입력해주세요.');
          $('#title').focus();
          return false;
        }

        if ($('#article_type_code').val() == '0') {
          alert('게시글 유형을 선택해주세요.');
          $('#article_type_code').focus();
          return false;
        }

        if ($('#is_display_code').val() == '9') {
          alert('게시여부를 선택해주세요.');
          $('#is_display_code').focus();
          return false;
        }

        if ($('#register').val() == '') {
          alert('작성자명을 입력해주세요.');
          $('#register').focus();
          return false;
        }

        return true;
      });
    </script>
  </body>
</html>
