<!DOCTYPE html>
<html>
  <head>
    <title>회사 소개</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= labtop.productName %></h1>
    <p><%= labtop.brand %></p>
    <p><%= labtop.price %></p>
    <img src="<%= labtop.img %>" />
  </body>
</html>
