<!DOCTYPE html>

<html lang="ko">
  <head>
    <title>관리자 계정 정보 관리 페이지</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <strong>관리자 사이트 관리자 계정 정보 관리</strong>
      <a href="/main">전체 관리 페이지</a>
      <a href="/admin/create">생성</a>
      <a href="/admin/list">목록</a>
      <a href="/admin/modify">수정</a>
    </nav>
  </body>
</html>
