<!DOCTYPE html>

<html lang="ko">
  <head>
    <title>관리자 계정 관리 페이지</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <strong
        ><a href="/admin"> 관리자 사이트 관리자 계정 정보 관리 </a></strong
      >
      <a href="/main">전체 관리 페이지</a>
      <a href="/admin/create">생성</a>
      <p>목록</p>
      <a href="/admin/modify">수정</a>
    </nav>
  </body>
</html>
