<!DOCTYPE html>
<html lang="en">
  <head>
    <title>회원가입</title>
  </head>
  <link rel="stylesheet" href="/stylesheets/begin.css" />
  <body>
    <div class="begin">
      <h1>회원가입</h1>
      <form action="/member/begin" method="post">
        <div>
          <label for="id">아이디</label>
          <input id="id" type="text" />
        </div>
        <div>
          <label for="password">비밀번호</label>
          <input id="password" type="text" />
        </div>
        <div>
          <label for="name">이름</label>
          <input id="name" type="text" />
        </div>
        <div>
          <label for="born">년도</label>
          <input id="born" type="text" />
        </div>
        <button type="submit">회원가입</button>
      </form>
    </div>
  </body>
</html>
