<!DOCTYPE html>
<html lang="en">
  <head>
    <title>회원 가입</title>
  </head>
  <body>
    <form action="/member/login" method="post">
      <div>
        <label for="email">이메일</label>
        <input id="email" type="email" name="email" value="" />
      </div>
      <div>
        <label for="pWassword">비밀번호</label>
        <input id="password" type="password" name="password" value="" />
        <!-- name이 데이터를 추출할 때 Key 값 ex) req.password-->
      </div>
      <button type="submit" value="로그인">로그인</button>
    </form>
  </body>
</html>
