body {
  display: flex;
  justify-content: center;
  background-color: #e8e8e8;
}

.begin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  width: 35vw;
  height: 100vh;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75vh;
  border: none;
  border-radius: 1rem;
  width: 25vw;
  height: 10vh;
  text-decoration: none;
  background-color: #111;
  color: #fff;
}
