<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 가입</title>
  </head>
  <body>
    <form action="/member/entry" method="post">
      <div>
        <label for="email">이메일</label>
        <input id="email" type="email" name="email" value="" />
      </div>
      <div>
        <label for="pWassword">비밀번호</label>
        <input id="password" type="password" name="password" value="" />
      </div>
      <input type="submit" value="로그인" />
    </form>
  </body>
</html>
