<!DOCTYPE html>

<html lang="ko">
  <head>
    <title>채팅방 정보 관리 페이지</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <strong><a href="/channel"> 채팅방 정보 관리 </a></strong>
      <a href="/main">전체 관리 페이지</a>
      <p href="/channel/create">생성</p>
      <a href="/channel/list">목록</a>
      <a href="/channel/modify">수정</a>
    </nav>

    <form action="/channel/create" method="post"></form>
  </body>
</html>
