<style></style>

<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
  <div class="login-wrapper">
    <form action="/entry" method="post">
      <div class="login-screen">
        <div class="login-body">
          <a href="index.html" class="login-logo">
            <img src="img/logo.svg" alt="Quick Chat" />
          </a>
          <h6>Welcome to Quick Chat App,<br />Create your account.</h6>

          <div class="row">
            <div class="field-wrapper col-6">
              <input type="name" autofocus name="name" id="name" />
              <div class="field-placeholder">이름</div>
            </div>

            <div class="field-wrapper col-6">
              <input
                type="birth_date"
                autofocus
                name="birth_date"
                id="birth_date"
              />
              <div class="field-placeholder">생년월일</div>
            </div>
          </div>

          <div class="field-wrapper">
            <input type="telephone" autofocus name="telephone" id="telephone" />
            <div class="field-placeholder">전화번호</div>
          </div>

          <div class="field-wrapper">
            <input type="email" autofocus name="email" id="email" />
            <div class="field-placeholder">Email ID</div>
          </div>

          <div class="field-wrapper">
            <input type="password" name="password" id="password" />
            <div class="field-placeholder">Password</div>
          </div>
          <div class="field-wrapper mb-3">
            <input type="password" id="password_check" />
            <div class="field-placeholder">Confirm Password</div>
          </div>
          <div class="actions">
            <button
              type="submit"
              class="btn btn-primary ml-auto"
              id="sign-up-button"
            >
              Sign Up
            </button>
          </div>
        </div>
        <div class="login-footer">
          <span class="additional-link"
            >Have an account?
            <a href="/" class="btn btn-secondary">Login</a></span
          >
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  const signUpButton = document.getElementById('sign-up-button');

  const handleSignUp = e => {
    const email = document.getElementById('email');
    const password = document.getElementById('password');
    const passwordCheck = document.getElementById('password_check');

    if (email.value === '') {
      e.preventDefault();
      alert('이메일을 입력해주세요.');
      email.focus();
      return false;
    }

    if (password.value === '') {
      e.preventDefault();
      alert('비밀번호를 입력해주세요.');
      password.focus();
      return false;
    }

    if (passwordCheck.value === '') {
      e.preventDefault();
      alert('비밀번호를 확인해주세요.');
      passwordCheck.focus();
      return false;
    }

    if (!(password.value === passwordCheck.value)) {
      e.preventDefault();
      alert('비밀번호가 일치하지 않습니다.');
      password.focus();

      password.value = '';
      passwordCheck.value = '';
    }
  };

  signUpButton.addEventListener('click', handleSignUp);
</script>
