<!DOCTYPE html>
<html>
  <head>
    <title>상품 목록</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>제품 번호</th>
          <th>제품 명</th>
          <th>가격</th>
          <th>재고수량</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            <a href="/product/detail?pid=1&pname=LG 노트북">LG 노트북</a>
          </td>
          <td>6000</td>
          <td>5</td>
        </tr>
        <tr>
          <td>2</td>
          <td>삼성 노트북</td>
          <td>7000</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
