<!DOCTYPE html>

<html lang="ko">
  <head>
    <title>사용자 정보 관리 페이지</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <strong><a href="/member"> 사용자 정보 관리</a></strong>
      <a href="/main">전체 관리 페이지</a>
      <p>생성</p>
      <a href="/member/list">목록</a>
      <a href="/member/modify">수정</a>
    </nav>
  </body>
</html>
