<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>신규 게시글 등록</title>
    <link rel="stylesheet" href="create.css" />
  </head>
  <body>
    <h1>신규 게시글 등록 페이지</h1>
    <form action="/articles/create" method="post">
      <div>
        <label for="title">제목</label>
        <input id="title" type="text" />
      </div>
      <div>
        <label for="content">내용</label>
        <textarea id="content" cols="10" rows="20"></textarea>
      </div>
      <div>
        <label for="register">작성자</label>
        <input id="register" type="text" />
      </div>

      <div>
        <input type="submit" value="저장" /> <a href="/articles">게시글 목록</a>
      </div>
    </form>
  </body>
</html>
