<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>비밀번호 찾기</title>
  </head>
  <body>
    <main>
      <h1>비밀번호 찾기</h1>
      <form action="/find" method="post">
        <div>
          <label for="id">이메일 주소</label>
          <input type="email" id="id" name="id" />
        </div>
        <div></div>
        <button type="submit">비밀번호 찾기</button>
      </form>
    </main>
  </body>
</html>
