<!DOCTYPE html>

<html lang="ko">
  <head>
    <title>게시글 정보 관리 페이지</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <strong><a href="/article"> 게시글 정보 관리 </a></strong>
      <a href="/main">전체 관리 페이지</a>
      <p href="/article/create">생성</p>
      <a href="/article/list">목록</a>
      <a href="/article/modify">수정</a>
      <a href="/article/delete">삭제</a>
    </nav>

    <form action="/article/create" method="post">
      <button type="submit">생성하기</button>
    </form>
  </body>
</html>
