<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= productId %></h1>
    <p><%= productName %></p>
  </body>
</html>
